option_settings:
  - option_name: TWITTER_CONSUMER_KEY
    value: placeholder-value-change-me
  - option_name: TWITTER_CONSUMER_SECRET
    value: placeholder-value-change-me
  - option_name: TWITTER_ACCESS_TOKEN
    value: placeholder-value-change-me
  - option_name: TWITTER_ACCESS_SECRET
    value: placeholder-value-change-me
  - option_name: PI_URL
    value: placeholder-value-change-me
  - option_name: PI_USERNAME
    value: placeholder-value-change-me
  - option_name: PI_PASSWORD
    value: placeholder-value-change-me
  - option_name: DB_HOST
    value: placeholder-value-change-me
  - option_name: DB_USER
    value: placeholder-value-change-me
  - option_name: DB_PASSWD
    value: placeholder-value-change-me
  - option_name: DB
    value: placeholder-value-change-me