body {
  padding-top: 70px;
}

/* background base */
body {
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}