{% extends "base.html" %}

{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">NativX Travel Survey</div>
        <div class="panel-body">
            Thank you for completing our survey and helping develop our machine learning algorithm to better plan trips
            in the future. Feel free to take the survey again and continue to help us.<br><br>

            <a class="btn btn-default" href={% url 'survey:home' %}>Back</a>
        </div>
    </div>
{% endblock %}