{% extends "base.html" %}

{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">NativX Travel Survey</div>
        <div class="panel-body">
            {% if error_message %}
                <div class="alert alert-danger" role="alert">
                    {{ error_message }}
                </div>
            {% endif %}
            <p>
                NativX needs your help!
                When you fill this form out, NativX is learning. The more you fill out, the more accurate our
                suggestions are. Help us get the information we need to allow you and other travelers to reach
                adventures that fit. Thanks, you're the best! <br><br>
            </p>
            <form action="" method="post">
                {% csrf_token %}
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">@</span>
                    <input id="id_twitter" name="twitter" type="text" class="form-control" placeholder="Twitter Handle"
                           aria-describedby="basic-addon1">
                </div>
                <div class=" col-lg-12 ">
                    <br>
                    <a class="btn btn-primary" data-toggle="collapse" href="#textEntry" aria-expanded="false"
                       aria-controls="" style="margin-bottom: 20px">
                        Custom Text Option
                    </a>
                    <br>
                </div>
                <div class="collapse" id="textEntry">
                    {{ form.as_p }}
                </div>

                <p>
                    Please selected a rating from 1-4 for each of the respective categories.<br>
                    1: No way (would not go if suggested)<br>
                    2: We'll see (would take some convincing, but might go)<br>
                    3: Why not (would go but could be convince not to go)<br>
                    4: Heck yea (would go if offered)<br>
                </p>

                <div class=" col-lg-6 ">
                    <h1>Eat</h1>
                    <table class="table table-condensed">
                        <thead style="font-weight:bold;">
                        <tr>
                            <td>Activity:</td>
                            <td>1</td>
                            <td>2</td>
                            <td>3</td>
                            <td>4</td>
                        </tr>
                        </thead>
                        <tbody>
                        {% for eat_rating in eat_ratings %}
                            <tr>
                                <td>{{ eat_rating }}</td>
                                <td><input type="radio" name="{{ eat_rating }}_eat" value="1" checked></td>
                                <td><input type="radio" name="{{ eat_rating }}_eat" value="2"></td>
                                <td><input type="radio" name="{{ eat_rating }}_eat" value="3"></td>
                                <td><input type="radio" name="{{ eat_rating }}_eat" value="4"></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class=" col-lg-6 ">
                    <h1>Play</h1>
                    <table class="table table-condensed">
                        <thead style="font-weight:bold;">
                        <tr>
                            <td>Activity:</td>
                            <td>1</td>
                            <td>2</td>
                            <td>3</td>
                            <td>4</td>
                        </tr>
                        </thead>
                        <tbody>
                        {% for play_rating in play_ratings %}
                            <tr>
                                <td>{{ play_rating }}</td>
                                <td><input type="radio" name="{{ play_rating }}_play" value="1" checked></td>
                                <td><input type="radio" name="{{ play_rating }}_play" value="2"></td>
                                <td><input type="radio" name="{{ play_rating }}_play" value="3"></td>
                                <td><input type="radio" name="{{ play_rating }}_play" value="4"></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <input type="submit" value="Submit"/>
            </form>
        </div>
    </div>
{% endblock %}